<div id="register" >
    <h2 class="app-heading--secondary">Register</h2>
    <form  (ngSubmit)="onSubmit($event);" #regForm="ngForm" class="app-margin--l">
        <div class="">
            <label for="username">Name</label>
            <input type="text" class="app-form-control app-margin--xs" id="username"
                   required
                   [(ngModel)]="user.username" name="username"
                   #username="ngModel" >
            <div [hidden]="username.valid || username.pristine"
                 class="app-alert app-margin--xxs">
                Username is required
            </div>
        </div>
        <div class="app-margin--s">
            <label for="firstName">First Name</label>
            <input type="text" class="app-form-control app-margin--xs" id="firstName"
                   required
                   [(ngModel)]="user.firstName" name="firstName"
                   #firstName="ngModel" >
            <div [hidden]="firstName.valid || firstName.pristine"
                 class="app-alert app-margin--xxs">
                First name is required
            </div>
        </div>
        <div class="app-margin--s">
            <label for="alterEgo">Password</label>
            <input type="password" class="app-form-control app-margin--xs"  id="alterEgo"   required
                   [(ngModel)]="user.password" #password="ngModel" name="password" >
        </div>
        <div class="app-margin--s">
            <label for="alterEgo">Repeat the password </label>
            <input type="password" class="app-form-control app-margin--xs" id="passwordRepeat" required
                   [(ngModel)]="user.passwordRepeat" #passwordRepeat="ngModel" name="passwordRepeat" >
        </div>
        <div [hidden]="!submitted">
            <div class="app-alert app-margin--xxs" [hidden]="user.password == user.passwordRepeat ">
                Passwords are not the same!
            </div>
        </div>
        <button type="submit" class="app-btn app-btn--attention app-margin--m" [disabled]="!regForm.form.valid">Submit</button>
    </form>
</div>