<div *ngIf="active">
    <h1>Register</h1>
    <form  (ngSubmit)="onSubmit($event);" #regForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="username"
                   required
                   [(ngModel)]="model.username" name="username"
                   #username="ngModel" >
            <div [hidden]="username.valid || username.pristine"
                 class="alert alert-danger">
                Username is required
            </div>
        </div>
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="firstName"
                   required
                   [(ngModel)]="model.firstName" name="firstName"
                   #firstName="ngModel" >
            <div [hidden]="firstName.valid || firstName.pristine"
                 class="alert alert-danger">
                First name is required
            </div>
        </div>
        <div class="form-group">
            <label for="alterEgo">Password</label>
            <input type="password" class="form-control"  id="alterEgo"   required
                   [(ngModel)]="model.password" #password="ngModel" name="password" >
        </div>
        <div class="form-group">
            <label for="alterEgo">Password repeat</label>
            <input type="password" class="form-control" id="passwordRepeat" required
                   [(ngModel)]="model.passwordRepeat" #passwordRepeat="ngModel" name="passwordRepeat" >
        </div>
        <div [hidden]="!submitted && password != passwordRepeat"
             class="alert alert-danger">
            Passwords are not the same!
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!regForm.form.valid">Submit</button>
    </form>
</div>