<div class=""  id="wrap">

  <div class="app-header">
    <div class="app-container">
    <nav class="" *ngIf="!!user">
      <div class="app-grid">
        <div class="app-grid__item app-grid__item--1-2">
          <ul class="">
            <li class="app-nav-item">
              <a class="app-nav-link" routerLinkActive="app-nav-link--active" routerLink="" [routerLinkActiveOptions]="{ exact: true }">Profile</a>
            </li>
            <li class="app-nav-item">
              <a class="app-nav-link" routerLinkActive="app-nav-link--active" routerLink="/tasks" [routerLinkActiveOptions]="{ exact: true }">Tasks</a>
            </li>
          </ul>
        </div>

        <div class="app-grid__item app-grid__item--1-2">
          <div class="app-header__user">Welcome, {{user.firstName}}
            <button id="logout" class="app-header__logout-btn app-btn app-btn--neutral" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </nav>
    </div>
  </div>



  <router-outlet></router-outlet>
</div>