<div id="profile" >
    <div class="app-grid">
        <div class="app-grid__item">
            <h1 class="app-heading--secondary">Your profile</h1>
            <form  (ngSubmit)="onSubmit($event);" #regForm="ngForm" class="app-margin--l">
                <div class="app-margin--m">
                    Username: {{user.username}}
                </div>
                <div class="app-margin--m">
                    <label for="firstName">First Name</label>
                    <input type="text" class="app-form-control app-margin--xs" id="firstName"
                           required
                           [(ngModel)]="user.firstName" name="firstName"
                           #firstName="ngModel" >
                    <div [hidden]="firstName.valid || firstName.pristine"
                         class="app-alert app-margin--xxs ">
                        First name is required
                    </div>
                </div>
                <div class="app-margin--s">
                    <label for="alterEgo">Password</label>
                    <input type="password" class="app-form-control app-margin--xs"  id="alterEgo"
                           [(ngModel)]="user.password" #password="ngModel" name="password" >
                </div>
                <div class="app-margin--m">
                    <label for="alterEgo">Password repeat</label>
                    <input type="password" class="app-form-control app-margin--xs" id="passwordRepeat"
                           [(ngModel)]="user.passwordRepeat" #passwordRepeat="ngModel" name="passwordRepeat" >
                </div>
                <div [hidden]="!submitted" class="app-margin--xxs">
                    <div class="app-alert" [hidden]="user.password == user.passwordRepeat ">
                        Passwords are not the same!
                    </div>
                </div>
                <button type="submit" class="app-btn app-btn--attention app-margin--m" [disabled]="!regForm.form.valid">Submit</button>
            </form>
        </div>

    </div>

</div>