<div class="app__home container">
  <div *ngIf="!isAuth">

    <div class="row ">
      <div class="col-sm app-home__col">
        <app-login></app-login>
      </div>
      <div class="col-sm app-home__col">
        <app-registration></app-registration>
      </div>

    </div>

  </div>
  <div *ngIf="isAuth"  >
    <div id="welcome">
    <div >Welcome, {{user.firstName}}
      <button id="logout" class="btn btn-outline-secondary" (click) = "logout()">Logout</button>
    </div>
      <app-profile></app-profile>
  </div>

  </div>
</div>
